<% @page_header = 'Portfolio' %>

<% @portfolios.each do |portfolio| %>
    <div class="row">
      <div class="col-md-6">
        <%= link_to image_tag(portfolio.portfolio_image.url, class: 'img-responsive'), portfolio  %>
      </div>



      <div class="col-md-6">
        <h4><%= link_to portfolio.title, portfolio %></h4>
        <p><%= simple_format portfolio.description.truncate(100) %></p>
        <p><strong>Project Type:</strong> <%= portfolio.portfolio_category.name %></p>
      </div>

    </div>
    <hr/>
<% end %>

<%= paginate @portfolios %>